.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.fp-tableCell {
    padding: 0 100px;
}

.no-outline {
    outline: none !important;
}

tags-input .tags .input {
    height: 32px;
}
tags-input .tags .tag-item .remove-button{
    padding-top: 18px;
}

tags-input .tags .tag-item {
    color: #333;
    background: #fff;
    padding: 0 5px 0 2px;
    height: 54px;
    line-height: 28px;
}
#permalink-copier{
    color: #333;
    cursor: pointer;
    border-bottom: 1px dashed #444;
}