<section data-ng-controller="TagsController" data-ng-init="findOne()" class="container">
	<div class="page-header">
		<h1>
			{{tag.name}}
			<em class="small text-muted">{{tag.category}}</em>
		</h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == tag.user._id))">
		<a class="btn btn-primary" href="/tags/{{tag._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="tag.created | date:'mediumDate'"></span>,
			used
			<span data-ng-bind="tag.hits"></span>
			times
		</em>
	</small>
	<div class="list-group">
		<a data-ng-repeat="article in tag.articles" data-ng-href="articles/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.short"></p>
		</a>
	</div>
</section>
